body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://github.com/pilllgrummm/how-many-fuckin-beers-should-matt-drink/blob/main/matt.jpg?raw=true') no-repeat center center fixed;
    background-size: cover;
}
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
}
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}
button:hover {
    background-color: #ff9900;
}
